* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(226, 247, 247) ;
  }
  
  html, body {
    min-height: 100%;
  }

  .main_frame {
    background-color: navy;
    opacity: 0.9;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  
  /* Navbar */
  
  .navbar-brand {
    color: white;
  }
  
  .navbar-brand:hover {
    color:paleturquoise;
  }
    
  .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    color: paleturquoise;
  }
  
  @media (max-width: 600px ) {
    .navbar {
        height: 2.8rem;
    }
    .navbar-brand span {
        display: none;
    }
    .nav-item span {
        display: none;
    }
  }
 

  /* App Container */
  
  .app-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(180deg, #fcffff 50%, #74d8e8 50%, #74d8e8 50%, #fcffff 50%, #fcffff 100%, #74d8e8 100%, #74d8e8 100%);
    background-size: 64.00px 64.00px;
    padding-top: 10px;
    margin: 0;
  }
 
  @media (max-width: 600px) {
      .app-container {
          padding-top: 0;
      }
  }

  /* Component Footer */
  
  .inner-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 0.7rem;
  }
  
  .inner-element {
    padding: 10px;
  }
  
  .contact {
    display: flex;
    width: 4rem;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  
  .contact a{
    color: white;
  }
  
  .contact a:hover{
    color:  paleturquoise;
  }
  
  
  