* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    background-color: rgb(226, 247, 247) ;
  }
  
  .main_frame {
    background-color:darkslategray;
    opacity: 0.6;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  
  /* Navbar */
  .navbar-brand {
    color: white;
  }
  
  .navbar-brand:hover {
    color:paleturquoise;
  }
    
  .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    color: paleturquoise;
  }
  
  @media (max-width: 600px ) {
    .navbar {
        height: 2.8rem;
    }
    .navbar-brand span {
        display: none;
    }
    .nav-item span {
        display: none;
    }

  }

  /* App Container */
  
  .app-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./image/marjan-blan-marjanblan-6bXvYyAYVrE-unsplash.jpg');
    background-size: cover;
    padding:0;
    margin:0;
  }
  
  /* Footer */
  
  footer {
    width: 100vw;
    display: block;
    position:absolute;
    bottom: 0;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 0.7rem;
  }
  
  .inner-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
  }
  
  .inner-element {
    padding: 10px;
  }
  
  .contact {
    display: flex;
    width: 4rem;
    justify-content: space-between;
    font-size: 1.4rem;
  }
  
  .contact a{
    color: white;
  }
  
  .contact a:hover{
    color:  paleturquoise;
  }
  
  @media (max-width: 600px ) {
    footer {
        padding: 0;
    }
    
    .inner-element {
        padding-top: 2px;
    }

    .contact {
        font-size: 1.0rem;
    }
  }
  