.base-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-width: 380px;
    padding: 4px;
    opacity: 0.95;
    border-radius: 20px;
    border: 2px solid black;
    background-color:skyblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.list {
    overflow-y: scroll;
    max-height: 150px;   
}

.base-head {
    display: flex;
    justify-content: center;    
}

@media (max-width: 600px) {
    .base-container{
        width: 100%;
        border-radius: 0;
    }
}