.pair {
    display: block;
    margin: 0 auto;
    max-width: 400px;
    background-color:lightgray;
    border: 2px solid black;
}

#pairContainer {
    
}

#displayAmount {
    display: flex;
    justify-content: space-between;
}

#keypadContainer {
    display: flex;
    justify-content: center;
}

#leftAmount {
    display: flex;
    flex-direction: column;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;    
}