.pair {
    display: block;
    padding: 4px;
    border-radius: 10px;
    background-color:skyblue;
    border: 2px solid black;
    opacity: 0.95;    
}

#pairComparison {
    min-width: 380px;
}

#pairContainer {
    display: flex;
    justify-content: center;
    background-color: skyblue;
    border-bottom: 2px solid black;
}

#display_container{
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: black;
    color: white;
}

#keypadContainer {
    display: flex;
    justify-content: center;
}

input{
    text-align: end; 
    width: 8rem;
    height: 1.5rem;
    background-color: white;
    border: 2px solid slategray;
    padding-right: 0.5rem;
    background-color:;
    color: black;
    border-radius: 6px;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    display: grid;
    background-color: black;
    border-radius: 12px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1.5rem 2.6rem;
    grid-gap: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .box {
    color: white;
   
    text-align:center;
    vertical-align: top;
    font-size: .7rem;
    margin: 2px 15px;
   
    overflow: hidden;
  }
  
  .box-1 {
      color:magenta;
      line-height: 2rem;
      margin-left: 1rem;     
  }

  .box-2 {
      line-height: 2rem;
      margin-right: 1.1rem;
      color:paleturquoise;  
  }

  .box-3 {
      
      margin-left: 1rem;
      display: flex;
      font-size: 1rem;
      justify-content: space-between;
          
  }

  .box-3 span {
      padding: rem;
  }

  .box-4 {
      display: flex;
      justify-content: space-between;
      color: greenyellow;
      font-size: 1rem;
      text-align: end;
      margin-right: 1.1rem;    
  }

  @media (max-width: 600px) {
    .pair{
        width: 100%;
        border-radius: 0;
    }
    .wrapper{
        width: 340px;
    }
    input {
        padding: 0.8rem
    }
}